$secondary-global-color: #758399;

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 10px;
  outline: none;
  padding: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.582);
  animation: fadeIn 0.3s;
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  -o-animation: fadeIn 0.3s;
  -ms-animation: fadeIn 0.3s;
}

.confirmation-container {
  display: grid;
  grid-template-rows: 80px 70px;
  row-gap: 30px;
  width: 500px;
  height: 180px;
  text-align: center;
  .confirmation-title {
    font-weight: 600;
    color: $secondary-global-color;
    text-align: left;
    padding-top: 0;
    margin-top: 0;
    // padding-top: 5px;
    padding-left: 10px;
  }
  .confirmation-text {
    font-weight: 500;
    color: #6b778a;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
  }
  .button-container {
    display: grid;
    grid-template-columns: 140px 110px 110px 110px;
    column-gap: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
