$secondary-global-color: #758399;
$input-color: #bfc9da;
$input-color-placeholder: #7a8ba7;
$primary-color: #109ac6;
// $title-color: #5d6a7e;
$subtitle-color: #758399;

$border-color: #bbc4d5;
$background-color: #f1f3f6;
$title-color: #5d6a7e;
$font-color: #8f9db2;
$icon-color: #384a66;

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  border-radius: 10px;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  // padding: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.582);
  animation: fadeIn 0.3s;
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  -o-animation: fadeIn 0.3s;
  -ms-animation: fadeIn 0.3s;
}

.close-icon {
  text-align: right;
  color: $secondary-global-color;
  margin-bottom: 0;
  padding-top: 20px;
  padding-right: 20px;
  :hover {
    cursor: pointer;
  }
}

.confirmation-container {
  display: grid;
  grid-template-rows: 70px 70px;
  row-gap: 10px;
  width: 400px;
  height: 150px;
  padding: 0px 30px 20px 30px;
  // text-align: center;
  .confirmation-title {
    margin-top: 0px;
    font-size: 27px;
    color: $title-color;
    margin-bottom: 15px;
  }
  .confirmation-text {
    font-weight: 500;
    color: #6b778a;
    text-align: left;
    padding-top: 0px;
  }
  .button-container {
    display: inline-block;
    text-align: right;
    .button-cancel {
      margin-left: 14px;
    }
  }
}

.form-container {
  // padding: 0px 100px 20px 100px;
  text-align: center;
  .form-title {
    margin-top: 0px;
    font-size: 27px;
    color: $title-color;
    margin-bottom: 15px;
  }
  .input-form-container {
    padding: 25px 75px 0px 75px;

    .input-form {
      user-select: none;
      -webkit-user-select: none;
      font-weight: 400;
      border-radius: 5px;
      border: 1px solid $input-color;
      font-size: 15px;
      width: 280px;
      padding: 10px 10px;
      box-sizing: border-box;
      color: $title-color;
      &::placeholder {
        color: $input-color-placeholder;
      }
      &:focus {
        outline: none;
        border: 1px solid $title-color;
        // color: $title-color;
      }
    }
  }
  .input-form-container-employee {
    @extend .input-form-container;
    padding: 20px 75px 0px 75px;
  }
  .in-debt-warning {
    color: $input-color-placeholder;
    font-size: 12px;
    margin-top: 0px;
    width: 270px;
    margin-left: 80px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 25px;
    // padding-left: 80px;
    // padding-right: 80px;
    .warning-icon {
      font-size: 12px;
      margin-right: 3px;
    }
  }
  .button-container {
    padding-bottom: 45px;
    padding-top: 10px;
  }
  .button-container-employee {
    @extend .button-container;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .form-footer {
    height: 10px;
    background-color: $primary-color;
    margin: 0px;
  }
}

.oia-form {
  // position: fixed;
  width: 770px;
  height: 460px;
  margin: 0px 50px 50px 50px;
  .oia-form-title {
    font-size: 27px;
    font-weight: 700;
    color: $title-color;
    margin: 0;
    margin-bottom: 20px;
  }
  .oia-static-form-principal-input-data {
    display: flex;
    justify-content: space-between;
    margin-right: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .oia-variable-form-input-data {
    display: flex;
    // gap: 20px;
    justify-content: space-between;
    // margin-top: 10px;
    margin-bottom: 20px;
  }
  .oia-data-selected-view {
    margin-top: 10px;
    border: 1px solid $border-color;
    // height: 200px;
    border-radius: 10px;
    // background-color: aqua;
    height: 200px;
    // overflow: auto;
    // overflow-x: hidden;
    display: grid;
    // grid-template-columns: 120px 200px 200px 150px 100px;
    grid-template-rows: 40px 120px 40px;
    .oia-view-column-grid {
      display: grid;
      margin-left: 20px;
      margin-right: 10px;
      grid-template-columns: 100px 220px 180px 140px 90px;
    }

    .oia-data-view-title-container {
      // padding-left: 20px;
      // margin-right: 1px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      background-color: $background-color;
      .oia-data-view-title {
        padding-top: 10px;
        padding-left: 20px;
        color: $subtitle-color;
        font-weight: 600;
        font-size: 14px;
        margin: 0px;
        height: 30px;
      }
    }
    .oia-data-view-table {
      overflow-x: hidden;
      overflow-y: auto;
      
      .oia-data-view-table-element {
        margin-top: 0px;
        height: 20px;
        font-size: 14px;
        color: $title-color;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
       
        padding: 10px 0px;
        padding-left: 20px;
        .oia-data-view-icon-delete{
          vertical-align: middle;
          margin-left: 10px;
          color: $font-color;
          // font-size: 3.5vh;
          font-size: 20px;
          &:hover {
            cursor: pointer;
            color: $primary-color;
          }
        }
      }
    }
    .oia-data-view-total {
      color: $title-color;
      font-size: 14px;
      .oia-total-title{
        color: $subtitle-color;
        font-weight: 600;
        padding-top: 10px;
        text-align: right;
        padding-right: 20px;
      }
      .oia-total-underline{
        padding-top: 10px;
        padding-left: 20px;
        border-top: 1px solid $border-color;
      }
    }
  }

  .oia-form-save-button-container {
    display: flex;
    justify-content: flex-end;
    // justify-content: center;
    margin-top: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
