$secondary-global-color: #758399;
$input-color: #bfc9da;
$input-color-placeholder: #7a8ba7;
$primary-color: #32b284;
$title-color: #5D6A7E;


.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  border-radius: 10px;
  outline: none;
  // padding: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.582);
  animation: fadeIn 0.3s;
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  -o-animation: fadeIn 0.3s;
  -ms-animation: fadeIn 0.3s;
}

.close-icon{
  text-align: right;
  color: $secondary-global-color;
  margin-bottom: 0;
  padding-top: 20px;
  padding-right: 20px;
  :hover{
    cursor: pointer;
  }
}

.confirmation-container {
  display: grid;
  grid-template-rows: 70px 70px;
  row-gap: 10px;
  width: 400px;
  height: 150px;
  padding: 0px 30px 20px 30px;
  // text-align: center;
  .confirmation-title {
      margin-top: 0px;
      font-size: 27px;
      color: $title-color;
      margin-bottom: 15px;
  }
  .confirmation-text {
    font-weight: 500;
    color: #6b778a;
    text-align: left;
    padding-top: 0px;
  }
  .button-container {
    display: inline-block;
    text-align: right;
    .button-cancel{
      margin-left: 14px;
    }
  }
}


.form-container{
  // padding: 0px 100px 20px 100px;
  text-align: center;
  .form-title{
      margin-top: 0px;
      font-size: 27px;
      color: $title-color;
      margin-bottom: 15px;
  }
  .input-form-container{
    padding: 25px 75px 0px 75px;

    .input-form{
      font-weight: 400;
      border-radius: 5px;
      border: 1px solid $input-color;
      font-size: 15px;
      width: 280px;
      padding: 10px 10px;
      box-sizing: border-box;
      color: $title-color;
      &::placeholder{
        color: $input-color-placeholder;
      }
      &:focus{
        outline: none;
        border: 1px solid $title-color;
        // color: $title-color;
      }
      
    }
  }
  .in-debt-warning{
    color: $input-color-placeholder;
    font-size: 12px;
    margin-top: 0px;
    width: 270px;
    margin-left: 80px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 25px;
    // padding-left: 80px;
    // padding-right: 80px;
    .warning-icon{
      font-size: 12px;
      margin-right: 3px;
    }
  }
  .button-container{
    padding-bottom: 45px;
    padding-top: 10px;
  }
  .form-footer{
    height: 10px;
    background-color: $primary-color;
    margin: 0px;
  }
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
