$icons-color: #C3CAD6;

.icons-container {
  display: grid;
  grid-template-columns: 26% 26% 26%;
  grid-gap: 10%;
}

.icon-container {
  text-align: center;
  &:hover{
    cursor: pointer;
}
}

.icon {
    color: $icons-color;
    vertical-align: middle;
    // font-size: 3.5vh;
    font-size: 25px;
    &-visibility{
        
    }
    &-edit{

    }
    &-delete{

    }
}
