$icons-color: #c3cad6;
$primary-color: #109ac6;

.icons-container {
  display: grid;
  grid-template-columns: 50% 50%;

  .icon-container {
    text-align: center;
  }

  .icon {
    color: $icons-color;
    vertical-align: middle;
    // font-size: 3.5vh;
    font-size: 22px;
    &:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }
}
