$title-color: #5D6A7E;
$font-color: #758399;
$subtitle-color: #a3aab7;
$secondary-color: #C3CAD6;
$queque-color: #D35F7B;
$order-background-color: #F1F3F6;
$production-color: #A475B4;
$finished-color: #33ABA4;
$white-color: #FFFFFF;


.page-container{
    margin: 25px 40px;
    min-width: 900px;
    
    // width: 300px;
    // width: 100vw;
}

.elements-container{
    display: grid;
    grid-template-rows: auto auto;
}

.task-bar-datatable{
    display: grid;
    grid-template-columns: auto auto;
}

.page-title{
    font-size: 27px;
    font-weight: 700;
    margin: 0;
    color: $title-color;;
}

.input-container{
    padding-top: 18px;
    user-select: none;
}

.search-input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.2vh solid $subtitle-color;
    width: 250px;
    color: $title-color;
    font-size: 17px;
    padding-bottom: 1vh;
    padding-left: 0.1vw;
    &:focus{
        outline: none;
        border-bottom: 0.2vh solid #92a0b4;
        // color: $title-color;
    }
    &::placeholder{
        color: $subtitle-color;
        font-weight: 600;
        font-size: 15px;
    }
}

.button-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    // vertical-align: base;
}

.table-section{
    height: calc(100vh - 170px);
    min-height: 300px;
    // min-height: 100%;

    margin-top: 10px;
}


///order 
.section-task-bar{
    position: relative;
}

.order-task-bar{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
    .order-task-bar-status{
        margin-top: 40px;
        display: flex;
        .button-change{
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            color: $white-color;
            font-size: 15px;
            font-weight: 600;
            margin-right: 20px;
            width: 150px;
            height: 40px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            &-queque{
                background-color: $queque-color;
            }
            &-production{
                background-color: $production-color;
            }
            &-finished{
                background-color: $finished-color;
            }
            &:hover{
                height: 45px;
                margin-top: -5px;
                // font-weight: 700;
                // transition: height 0.2s, margin-top 0.2s;
            }
            transition: all 0.2s;
        }
    }
    .order-task-bar-create{
        // position: absolute;
        text-align: right;
        vertical-align: text-bottom;
        transform: translateY( 32px );
        // margin: 0;
        margin-right: 20px;
        // right: 10px;
    }
}

.order-list-container{
    height: calc(100vh - 260px);
    overflow: auto;
    user-select: none;
    -webkit-user-select: none;
    .order-element{
        // width: 100%;
        display: grid;
        grid-template-columns: 16% 22% 15% 22% 15%  10%;
        margin-right: 11px;
        padding-left: 20px;
        background-color: $order-background-color;
        border-radius: 5px;
        height: 70px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: height 0.2s ease;

        .order-element-container{
            // padding: 3px;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 15px;
            margin-top: 15px;
            // margin: 10px 0px 10px 0px;

            .order-element-title{
                text-align: left;
                font-size: 12px;
                font-weight: 600;
                color: $font-color;
                margin: 0px;
                margin-bottom: 5px;
            }
            .order-element-text{
                // position: absolute;
                // bottom: 12px;
                display: block;
                text-align: left;
                font-size: 15px;
                font-weight: 500;
                color: $title-color;
                margin: 0;

            }
        }

    }
}
