

.box-container {
  background-color: #f1f3f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  // margin: 10vh 10vw 10vh 10vw;
  .border {
    height: 550px;
    width: 1100px;
    background-color: #5d6a7e;

    border-radius: 2vh;
    box-shadow: #dfe4eb 10px 10px 10px 0px;

    .image-form-container {
      display: grid;
      grid-template-columns: 45% 55%;
      .image {
      }
      .login-form-container {
        // height: 100%;
        height: 550px;
        background-color: #ffffff;
        border-radius: 0 2vh 2vh 0;
        .form {
          margin: 35px 57px;
          .title-system-name {
            margin: 0;
            color: #5d6a7e;
            font-size: 33px;
          }
          .title-system-description {
            color: #8691a4;
            margin-top: 7px;
            font-size: 15px;
          }
          .form-style {
            text-align: center;
            .login-title {
              color: #5d6a7e;
              margin-top: 50px;
              margin-bottom: 0;
            }
            .input-container-space{
              margin-top: 30px;
              text-align: center;
              display: flex;
              justify-content: center;
            }
            .password-checkbox {
              text-align: left;
              padding-left: 95px;
              color: #5d6a7e;
              font-weight: 400;
              padding-top: 10px;
              font-size: 12px;
              padding-bottom: 30px;
              input[type="checkbox"] {
                accent-color: #109ac6;
                vertical-align: bottom;
                &:hover {
                  cursor: pointer;
                }
              }
              .checkbox-label {
                cursor: pointer;
              }
            }
          }
          .warning-message {
            color: #8691a4;
            margin-top: 35px;
            font-size: 15px;
          }
        }
      }
    }
  }
}


.not-existing-page{
  color: #5d6a7e;
  font-size: 60px;
}