.view-container{
    display: grid;
    grid-template-columns: 17vw 83vw;

    .sidebar-container{
        
    }

    .content-container{
        display: grid;
        grid-template-rows: 11vh 89vh;
        .navbar-container{
        
        }
        .data-container{

        }
    }
}

