

.search-by-state{
    width: 350px;
    height: 35px;
    background-color: #EDF2F7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
    
    // background-color: antiquewhite;
    &:hover{
        background-color: #E2E8F0;
    }
    &:focus{
        outline-color: #90CDF4;
        outline-width: 2px;
    }
}

.search-by-state-icon{
    position: absolute;
    right: 10px;
    color: #758399;
}

.search-by-state-modal{
    top: 40px;
    position: absolute;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    width: 350px;
}

.search-by-state-modal-element{

}