$background-color: #f1f3f6;
$title-color: #5D6A7E;
$font-color: #758399;
$icon-color: #384a66;
$toggle-background-color: #f1f3f6;

.sidebar-container {
  width: 245px;
  height: 100%;
  background-color: $background-color;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  

  .sidebar-title {
    padding-left: 40px;
    color: $title-color;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.element {
  text-decoration: none;
  color: $font-color;
  font-weight: 600;
  font-size: 14px;
  padding: 14px 0px 14px 35px;
  display: block;
  border-right-width: 0px;
  border-right-style: solid;
  position: relative;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $icon-color;
    transition: color 0s ease-in-out;
    cursor: pointer;
  }
}

.ul-element-inside {
  overflow: hidden;
  height: 0px;
  border-bottom: 0px solid $toggle-background-color;
  border-top: 0px solid $toggle-background-color;
  transition: all 0.3s ease-out;
}

.element-inside {
  text-decoration: none;
  color: $font-color;
  font-weight: 600;
  font-size: 14px;
  display: block;
  border-right-width: 0px;
  border-right-style: solid;
  padding: 14px 0px 14px 80px;
  display: block;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $icon-color;
    cursor: pointer;
  }
}

.global-icon-class {
  margin-right: 14px;
  font-size: 1.1rem;
  text-align: right;
  transform: translateY(3px);
}

.arrow-icon-class {
  position: absolute;
  right: 20px;
  font-size: 1.3rem;
  top: 16px;
  transition: transform 0.5s ease;
}
