$title-color: #5D6A7E;
$font-color: #758399;
$subtitle-color: #a3aab7;
$secondary-color: #C3CAD6;
$queque-color: #D35F7B;
$order-background-color: #F1F3F6;
$production-color: #A475B4;
$finished-color: #33ABA4;
$white-color: #FFFFFF;
$chakra-border-input: #E2E8F0;
$primary-color: #098bb6;

.page-container{
    padding: 25px 40px;
    min-width: calc(100vw - 245px);
    // width: 300px;
    // width: 100vw;
}

.elements-container{
    display: grid;
    grid-template-rows: auto auto;
}

.task-bar-datatable{
    display: grid;
    grid-template-columns: auto auto;
}

.task-bar-datatable-production{
    display: flex;
    // grid-template-columns: auto 300px 160px;
    flex-direction: row;
    justify-content: space-between;

    .search-by-state-container{
        display: flex;
        align-items: flex-end;
    }
}

.input-container-production{
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
}

.page-title{
    font-size: 27px;
    font-weight: 700;
    margin: 0;
    color: $title-color;
}

.input-container{
    padding-top: 18px;
    user-select: none;
}

.search-input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.2vh solid $subtitle-color;
    width: 250px;
    color: $title-color;
    font-size: 17px;
    padding-bottom: 1vh;
    padding-left: 0.1vw;
    &:focus{
        outline: none;
        border-bottom: 0.2vh solid #92a0b4;
        // color: $title-color;
    }
    &::placeholder{
        color: $subtitle-color;
        font-weight: 600;
        font-size: 15px;
    }
}

.button-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    // vertical-align: base;
}

.table-section{
    height: calc(100vh - 170px);
    min-height: 300px;
    // min-height: 100%;

    margin-top: 10px;
}

//employee
.two-column-grid{
    display: grid;
    grid-template-columns: 330px 330px;
    column-gap: 20px;
}

//order and inventory form
.formGrid{
    display: grid;
    grid-template-columns: 270px 170px 170px auto;
    column-gap: 20px;
}

.three-rows-grid{
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 0px;
}

.twoFieldsInOneRow{
    display: grid;
    grid-template-rows: auto auto;
    column-gap: 20px;
}

//on invetory section , list of materials

.material-list-container{
    margin-top: 20px;
    margin-bottom: 0;
    height: 250px;
    overflow: auto;
    user-select: none;
    -webkit-user-select: none;
    border: 1px solid $chakra-border-input;
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: 30px auto;
    .material-column-grid{
        display: grid;
        grid-template-columns: 13% 30% 25% 20% 12%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .material-list-header{
        background-color: $order-background-color;
        @extend .material-column-grid;
        &-title{
            font-size: 13px;
            font-weight: 600;
            color: $font-color;
            margin: 0px;
            display: flex;
            align-items: center;
        }
    }
    .material-list-body{
        &-row{
            @extend .material-column-grid;
            &-element{
                
            }
        }
    }
}

