

body *{
  font-family: "Inter", "Open Sans", sans-serif, "Segoe UI Emoji", "Apple Color Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
  /* font-family: 'Noto Color Emoji', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
